@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body {
    background-color: lightblue;
    font-size: 24px;
    font-family: "Oswald", Verdana, sans-serif;
}

a {
    color: black;
    font-size: 24px;
    padding: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 300px;
}
